// TODO
.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 4.9rem;
}

.info {
  color: var(--gray-300);
  display: flex;
  align-items: flex-end;
  justify-content: left;
  margin-top: 1.5rem;
  font-size: 0.87rem;

  time,
  span {
    margin-right: 1.62rem;
    margin-left: 0.5rem;
  }
}

@media(max-width: 720px) {
  .container {
      padding: 0 2rem;
  }
}
